# Basic Python (Real Coding doing first time today)

### Numbers in Python

In [23]:
# Decimal
d = 123
# Binary
b = 0b101
# Octal
o = 0o1112
# Hexadecimal 
h = 0xA
d,b,o,h

(123, 5, 586, 10)

### Strings in Python

In [24]:
s = "Vikas"
s1 = 'Dave'
type(s),type(s1)

(str, str)

In [26]:
s*2,s+s1

('VikasVikas', 'VikasDave')